Q1.
ans: Here variable of following data types:
    a=23                  integer variable
    ab=23.45              float variable
    li=[1,4,"ser",4.5]    list variable
    tup=(1,3,"der",56.67) tuple variable

In [7]:
#Q2.
var1 = ' ' 
# it is string varibale
print(type(var1))

var2 = '[ DS , ML , Python]'
#it is also string variable
print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
#it is list varibale
print(type(var3))

var4 = 1.
#it is float variable
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [12]:
#Q3.
#(i) / :- it is divide operator which gives decimal values .
5/2 #ans 2.5

#(ii) % :- it is modulo operator which gives remainder
5%2 # ans 1

#(iii) // :- it  divide the numerator by denominator and round down the values and return whole number
5//2 # ans quotient=2

#iv ** :- it is power operator. it gives left operand to power right operand
3**2 # ans 9

9

In [15]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

li=[1,3,3.4,"hello",[2,4,5],'s',0,999.999,(2,5,44.50),True]
for i in li:
    print(i)
    print(type(i))

1
<class 'int'>
3
<class 'int'>
3.4
<class 'float'>
hello
<class 'str'>
[2, 4, 5]
<class 'list'>
s
<class 'str'>
0
<class 'int'>
999.999
<class 'float'>
(2, 5, 44.5)
<class 'tuple'>
True
<class 'bool'>

In [2]:
''' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. '''

A=int(input())
B=int(input())
count=0
while(A>B):
    if (A%B==0):
        count +=1
    A=A/B
if(count>0):
    print(" yes it is divisible ")
else:
    print("not divisible")        
print(count)

 20
 2

 yes it is divisible
2

In [3]:
''' Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. '''
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
li1=[]
li2=[]
for i in li:
    if(i%3==0):
        li1.append(i)
    else:
        li2.append(i)
print("Divisble by 3")        
print(li1)
print("not divisible by 3")
print(li2)

Divisble by 3
[3, 6, 9, 12, 15, 18, 21, 24]
not divisible by 3
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [4]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

'''ans: Mutable data types are those which can be changed on the same memory location with same reference variable.
    example:- 
    list, set , Dictionary 
    We can insert and delete values on above data types on same memroy locations.
    
    Immutable data types are those which cannot be changed on same memory loactions but create another refereces in another memrory loaction of same .
    example: 
    numbers, string, boolean,tuple ''''

s="hello"
s[0]='l' # gives error as it is immutable
s

SyntaxError: unterminated string literal (detected at line 11) (1653483915.py, line 11)